@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #001F3F;
    --primary-color: #EAD8B1;
    --secondary-color: #3A6D8C;
}